server:
  port: 8089
spring:
  datasource:
    url: jdbc:h2:mem:fileshare
    driver-class-name: org.h2.Driver
    username: sa
    password: sa
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  application:
    name: filley
file:
  upload-dir: ./uploads
vaadin:
  productionMode: false
